<!-- <h3 *ngIf="categories; else noCategories"> {{title}}</h3> -->
<!-- <ng-template #noCategories>
    <div class="alert alert-primary" role="alert">
        Kategori bulunmamaktadır.
    </div>
</ng-template> -->
<!-- <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" routerLink = "products">Tüm Ürünler</button>
</div>
<div *ngFor="let category of categories" class="list-group">
    <button type="button" class="list-group-item list-group-item-action" routerLink = "products/category/{{category.id}}">{{category.name}}</button>
</div> -->
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary"
            routerLink="/products">Tüm Ürünler</a>
        <a *ngFor="let category of categories" class="p-2 link-secondary"
            routerLink="/products/category/{{category.id}}">{{category.name}}</a>
    </nav>
</div>