<h3 *ngIf="categories; else noCategories"> {{title}}</h3>
<ng-template #noCategories>
    <div class="alert alert-primary" role="alert">
        Kategori bulunmamaktadır.
    </div>
</ng-template>
<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" outerLink = "products">Tüm Ürünler</button>
</div>
<div *ngFor="let category of categories" class="list-group">
    <button type="button" class="list-group-item list-group-item-action" routerLink = "products/category/{{category.id}}">{{category.name}}</button>
</div>