<body class="text-center">
    <main class="form-signin">
        <form #loginForm = "ngForm" (ngSubmit) = "login(loginForm)">
            <h1 class="h3 mb-3 fw-normal">Sisteme Giriş</h1>
            <div class="form-floating">
                <input type="text" class="form-control" #userName = "ngModel" [(ngModel)] ="modelLogin.userName" id="floatingInput" name="userName" placeholder="Kullanıcı Adı" required autofocus>
                <label for="floatingInput">Kullanıcı Adı</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" #password = "ngModel" [(ngModel)] ="modelLogin.password" id="floatingPassword" name="password" placeholder="Şifre" required autofocus>
                <label for="floatingPassword">Şifre</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
        </form>
    </main>
</body>