<!-- <h3 *ngIf="products; else noProducts">{{title}}</h3> title : one way binding örneğidir -->
<app-category></app-category>
<ng-template #noProducts>
    <div class="alert alert-primary" role="alert">
        Ürün listesi boş
    </div>
</ng-template>
<div class="form-group">
    <input class="form-control" id="productNameSearch" placeholder="Aranacak ürünü giriniz." [(ngModel)] = "filterText" /> <!--  ngModel : two way binding örneğidir  -->
    <small *ngIf="filterText" class="form-text text-muted">Aradığınız ürün: <strong>{{filterText}}</strong></small>
</div>
<div class="row">
    <div *ngFor="let product of products | productFilter : filterText" class="card, productbox" style="width: 18rem;">
        <img src={{product.imageUrl}} class="card-img-top" alt="...">  <!-- [src]="product.imageUrl"  -->
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h6>{{product.price | currency:'USD' : 'symbol'}}</h6>  <!-- Built-in Pipe Örneği-->
            <p class="card-text">{{product.description}}</p>
            <a (click) = "addToCard(product)" class="btn btn-primary">Sepete ekle</a>
        </div>
    </div>
</div>